/* This file is for your main application css. */

@import "bootstrap";

.memory-game-grid {
  display: flex;
  flex-wrap: wrap;
}

.memory-game-tile {
  width: 25%;
  padding: 4ex;
  text-align: center;
  border: 1px solid black;
}

.memory-game-tile button {
  opacity: 0;
}

.memory-game-tile:hover button {
  opacity: 1;
}

h1 {
  text-align: center;
}
